.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px 0 40px 0;
}

h2 {
  font-family: 'Proxima Nova';
}

p {
  text-align: center;
  margin-bottom: 40px;
}

.container img {
  width: 320px;
}

.caption {
  text-align: center;
  font-size: 20px;
}
