.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 30px 0 40px 0;
}

.caption {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
}
