dist/
!www/favicon.ico
www/
resources/android/icon
resources/android/splash
resources/ios
resources/windows

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

configure/configure.js

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
