.image-container span {
  font-size: 16px;
}

.uppercase {
  text-transform: uppercase;
}

.swiper-container .swiper-slide {
  display: grid;
}

.input-container {
  display: grid;
}

.swiper-slide img {
  width: 320px !important;
  margin-bottom: 10px;
}
