.plate {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 20px 0 35px 0;
}

.plate span {
  font-size: 16px;
}

.uppercase {
  text-transform: uppercase;
  border: 1px solid var(--ion-color-darkGrey);
  background: var(--ion-color-white);
}

.swiper-container .swiper-slide {
  display: grid;
}

.input-container {
  display: grid;
}

.swiper-slide img {
  height: 320px !important;
  width: 320px !important;
  margin-bottom: 10px;
}

ion-input {
  margin-bottom: 0;
}

@media only screen and (max-width: 390px) {
  .swiper-slide img {
    height: 260px !important;
    width: 260px !important;
    margin-bottom: 5px;
  }

  .plate {
    margin: 20px 0 30px 0;
  }
}