:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ion-header ion-title {
  line-height: 0;
}

.ishihara-logo {
  display: flex;
  justify-content: center;
}

.md ion-header.sc-app-layout ion-title.sc-app-layout {
  width: 80%;
}

ion-header ion-title img {
  margin: auto;
  max-width: 200px;
}

ion-footer {
  padding: 16px 0;
  text-align: center;
  height: 64px;
}

ion-footer::before {
  display: none !important;
}

ion-footer img {
  width: 220px;
}
