:root {
  --ion-color-black: #000000;
  --ion-color-white: #ffffff;
  --ion-color-red: #e44469;
  --ion-color-green: #1fd183;
  --ion-color-orange: #fbb446;
  --ion-color-lightgrey: #efefef;
  --ion-color-primary: #1a1a1a;
  --ion-color-darkGrey: #444444;
  --ion-color-secondary: var(--ion-color-white);
}
